body {
    background-color: unset;
}

.home_categories_container ul {
    display: grid !important;
    /* grid-template-columns: 48% 48%; */
    grid-template-columns: 50% 50%;
    /* grid-column-gap: 4%; */
    /* grid-row-gap: 50px; */
    grid-row-gap: 80px;
    grid-auto-rows: 320px;
    padding-inline-start: 0;
}

.home_categories_container ul li {
    display: grid !important;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
}

.home_categories_container ul li {
    list-style: none;
    padding: 2em 2em;
}

.home_categories_container ul li h5 {
    color: #ffffff;
}

.home_categories_container ul li a {
    position: relative;
}

.blocks-item-title {
    margin-bottom: 0;
    font-family: "gotham bold";
    text-transform: none;
    width: max-content;
    padding: 0 0.5em 0 0.5em;
}

.blocks-item-title h5 {
    margin-bottom: 0px !important;
}

.home_categories_container ul li:nth-child(n) {
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    cursor: pointer;
}

.home_categories_container ul li:nth-child(odd) {
    margin-right: 40px;
}

.home_categories_container ul li:nth-child(even) {
    margin-left: 40px;
}

.home_categories_container ul li a {
    overflow-wrap: break-word;
}

.home_categories_container ul li .home_category_image {
    background-size: cover;
}

.home_container {
    margin: 0;
    padding: 0;
}

.homepage_search_header {
    background-color: #E5E5E5;
    padding: 1em;
}

.home_section {
    margin-bottom: 80px;
    margin-top: 80px;
}

.explore {
    position: absolute;
    cursor: pointer;
    padding: 1em 0 0 0;
    bottom: 0;
}

.explore label {
    cursor: pointer;
    font-family: "gotham bold";
    color: #000;
}

.explore::after {
    margin-left: 14px;
    position: absolute;
    margin-top: 0.25em;
}

.explore_WINDOWS::after {
    margin-left: 14px;
    position: absolute;
    margin-top: 0.19em;
}

.sub_title {
    color: #000000;
}

.sub_title h4 {
    color: #000000;
    line-height: 1;
    text-transform: none;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

.blocks-item-description {
    font-weight: 400;
    color: #000;
    margin: 0;
    text-transform: none;
    color: #666;
}

.blocks-item-description:not(:empty) {
    margin-top: 10px;
}

.home_categories_container ul li {
    background-position: right;
}

.homepage_search_header form {
    margin-left: 0;
    /* max-width: 1370px; */
}

@media only screen and (max-width: 899px) {
    .home_categories_container ul {
        display: grid !important;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 80px;
        padding-inline-start: 0;
    }
    .home_categories_container ul li:nth-child(n) {
        background-color: #F2F2F2;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .home_categories_container ul li:nth-child(odd) {
        margin-right: unset;
    }
    .home_categories_container ul li:nth-child(even) {
        margin-left: unset;
    }
}

@media only screen and (max-width: 690px) {
    .home_page_categories .sub_title h4 {
        margin-top: 15px !important;
        margin-bottom: 20px !important;
    }
    .home_categories_container ul li {
        list-style: none;
        padding: 20px 20px;
    }
    .home_section {
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .home_categories_container ul {
        grid-auto-rows: 490px;
        grid-row-gap: 24px;
    }
    .home_categories_container ul li {
        display: grid !important;
        grid-template-columns: 100%;
        overflow: hidden;
    }
    .home_categories_container ul li {
        background-color: #F2F2F2;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
    .home_categories_container ul {
        /* grid-column-gap: 6%; */
        padding-inline-start: 0;
    }
    .home_categories_container ul li:nth-child(n) {
        background-color: #F2F2F2;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .home_categories_container ul li .blocks-item-description {
        line-height: 1;
    }
    .explore {
        bottom: -15px;
    }
    .sub_title h4 {
        font-size: 18px;
        text-transform: none;
        margin-top: 15px !important;
        margin-bottom: 20px !important;
    }
}