<div class="error-page">
  <h1 class="error-title">That page could not be found.</h1>
     <p>We always want you to find your way! Use the search box below or try one of our suggestions.</p>
  <div class="error-flex">
          <div class="error-search">
   				 {{search submit=false instant=settings.instant_search class='search search-full'}}
 				  </div>
      <div class="error-link">
      	{{#link 'help_center'}}
   			{{t 'back_to_homepage'}}
  			{{/link}}
   		</div>
  </div>
</div>
<div class="error-hero">
</div>

