<!-- Start of tomtomhelp1570114826 Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e99a4148-b9f9-4cf1-bb8e-9ed3aefc014a"> </script>
<!-- End of tomtomhelp1570114826 Zendesk Widget script -->

<!-- Start of hiding email and name on webwidget -->
<script type="text/javascript">
    zE('webWidget:on', 'open', function() { //on click of web widget
       var style = document.createElement('style'); //create style element

          style.innerHTML = `

            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(1) {  
                display: none;     
              }
            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(2) {   
                display: none;     
             }
                         `;

      parent.document.getElementById('webWidget').contentDocument.head.appendChild(style);
    });    
</script>
<!-- End  of hiding email and name on webwidget -->  


<div class="container">
    <h1>
    {{t 'submit_a_request'}}
  </h1>  
  <div class="form">
    {{request_form}}
  </div>
</div>

<label  class="zd_Hidden" id="strap_form_tips"> {{dc 'strap_form_notification'}}</label>

<label  class="zd_Hidden" id="golf_form_tips"> {{dc 'golf_form_notification'}}</label>