<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search scoped=settings.scoped_kb_search submit=false}}
  </nav>

  <button type="button" id="vanilla_gdpr_delete" class="" aria-labelledby="section-articles-title" aria-expanded="false">Test CuRL</button>
  
</div>